###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.phpunit.cache
/.phpunit.result.cache
/.idea
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
.phpunit
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
